@model IEnumerable<MiYa.Models.Companies>

@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="~/Scripts/passData.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classifications.Classification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Countries.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prefixes.Prefix)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classifications.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countries.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefixes.Prefix)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
            </td>
        </tr>
    }

</table>
<div id="google_translate_element"></div>
